.courses-body {
  width: 90%;
  margin-left: 5%;
  margin-top: 5%;
}

.courses-sidebar {
  width: 25%;
  margin-right: 10px;
  border: 1px solid red;
}

.courses-main {
  width: 73%;
  border: 1px solid red;
}
